PROJECT_NAME=vandrekalender
COMPOSE_PROJECT_NAME=${PROJECT_NAME}
WORDPRESS_PORT=8080
MYSQL_PORT=3308
PHPMYADMIN_PORT=8082

WORDPRESS_DB_USER=vandrekalender
WORDPRESS_DB_PASSWORD=vandrekalender
WORDPRESS_DB_NAME=vandrekalender
WORDPRESS_DB_PREFIX=wp_

GOOGLE_LOGIN_CLIENT_ID=<from Google Cloud console → Clients>
GOOGLE_LOGIN_SECRET=<from Google Cloud console → Clients>

NORDICWAY_SSH_HOST=<from Nordicway>
NORDICWAY_SSH_PORT=<from Nordicway>
NORDICWAY_SSH_USERNAME=<from Nordicway>
NORDICWAY_DEST_PATH=<path to wp-content on server>
NORDICWAY_SSH_KEY_PATH=~/.ssh/id_rsa