PROJECT_NAME=vandrekalender
WORDPRESS_PORT=8080
MYSQL_PORT=3308
PHPMYADMIN_PORT=8082

WORDPRESS_DB_USER=vandrekalender
WORDPRESS_DB_PASSWORD=changemelocalonly
WORDPRESS_DB_NAME=vandrekalender
WORDPRESS_DB_PREFIX=vk_
